/* Reset básico */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Estilos para o layout principal */
.whatsapp-layout {
  display: flex;
  height: 100vh;
  background-image: url('/src/assets/inicial.PNG'); /* Caminho para sua imagem de fundo */
  background-size: cover; /* Cobrir todo o espaço disponível */
  background-position: center; /* Centralizar a imagem */
  background-repeat: no-repeat; /* Evitar repetição da imagem */
}

/* Estilos para a barra lateral (sidebar) */
.sidebar {
  width: 30%;
  background-color: #075e54;
  color: white;
  overflow-y: auto;
}

.sidebar-header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinhar os itens no espaço entre eles */
}

.sidebar-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-header-text {
  margin: 0;
  font-size: 2rem;
}

.search-input {
  padding: 16px;
  margin-top: 20px;
  width: 85%;
  border: none;
  border-radius: 5px;
  background-color: #ffffff; /* Cor de fundo do campo de pesquisa */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Sombra suave */
  font-size: 0.9rem; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
  margin-top: 10px;
  margin-left: 20px; /* Ajustado o margin-left para alinhamento com os contatos */
  margin-right: 20px; /* Ajustado o margin-right para manter o espaçamento adequado */
  margin-bottom: 10px;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24); /* Efeito de foco */
}

.search-input::placeholder {
  color: #aaa; /* Cor do placeholder */
}

/* Estilos para a lista de contatos */
.contact-list {
  padding: 16px;
  margin-top: 20px;
}

.contact {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

.contact:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-name {
  flex-grow: 1;
}

.contact.selected {
  background-color: #128c7e; /* Cor de fundo quando selecionado */
}

/* Estilos para a área do chat */
.chat-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f0f0f0;
  border-left: 1px solid #ccc;
}

.chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%; /* Adicionado */
  background-color: #e5ddd5; /* Ajustado para uma cor de fundo que combine */
}

.chat-header {
  padding: 12px 16px;
  background-color: #128c7e;
  color: white;
  display: flex;
  justify-content: space-between; /* Alinhar os itens no espaço entre eles */
  align-items: center;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.contact-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.icon-chat {
  display: flex;
  gap: 25px;
}

.chat-messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Garantir que as mensagens rolem */
}

.message {
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 8px;
  color: black;
}

.message.sent {
  background-color: #dcf8c6; /* Cor de fundo para mensagens enviadas */
  align-self: flex-end;
}

.message.received {
  background-color: #ffffff; /* Cor de fundo para mensagens recebidas */
  align-self: flex-start;
}

.chat-input {
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: white; /* Fundo branco para área de entrada */
  border-top: 1px solid #ccc; /* Linha superior */
}

.chat-input input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 12px;
  height: 32px; /* Altura do campo de texto */
}

.chat-input button {
  padding: 8px;
  background-color: #075e54;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  height: 50px; /* Altura dos botões */
  width: 50px;
}

.chat-input button:hover {
  background-color: #064c48;
}

.emoji-picker {
  position: absolute;
  bottom: 60px;
  left: 20px;
  z-index: 1000;
}

.audio-recorder {
  display: flex;
  align-items: center;
  gap: 10px;
}
