body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.whatsapp-layout {
  display: flex;
  height: 100vh;
  background-image: url('/src/assets/inicial.PNG'); /* Caminho para sua imagem de fundo */
  background-size: cover; /* Cobrir todo o espaço disponível */
  background-position: center; /* Centralizar a imagem */
  background-repeat: no-repeat; /* Evitar repetição da imagem */
}

.sidebar {
  width: 30%;
  background-color: #075e54;
  color: white;
  overflow-y: auto;
}

.sidebar-header {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.sidebar-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar-header-icon {
  align-self: flex-end;
  margin-top: 10px;
}

.contact-list {
  padding: 16px;
  margin-top: 20px; 
}

.contact {
  padding: 12px;
  cursor: pointer;
}

.contact:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.chat-header {
  padding: 1px;
  background-color: #128c7e;
  color: white;
}

.chat-header h2 {
  margin: 0.5em;
}

.chat-messages {
  flex-grow: 1;
  padding: 16px;
  overflow-y: auto;
}

.buttons-chat {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.message {
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 8px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Ajuste para alinhar o conteúdo à direita por padrão */
}

.sent {
  background-color: #dcf8c6; /* Background color for sent messages */
  align-self: flex-end;
  justify-self: flex-end; /* Alinha o conteúdo para a direita */
}

.received {
  background-color: #ffffff; /* Background color for received messages */
  align-self: flex-start;
  justify-self: flex-start; /* Alinha o conteúdo para a esquerda */
}

.chat-messages {
  flex-grow: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* Ajuste para que as mensagens empilhem verticalmente */
}

.file-message {
  display: flex;
  align-items: center;
}

.chat-input {
  padding: 16px;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.chat-input input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 12px;
}

.chat-input button {
  padding: 5px 10px;
  background-color: #075e54;
  color: white;
  border: none;
  border-radius: 3px;
  margin-right: 12px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #064c48;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
}

.emoji-picker-react {
  position: absolute;
  bottom: 60px;
  left: 20px;
  z-index: 1000;
}
